h4, p, small{
    margin: 0px
}

body {
    background-color: green;
    text-align: center;
}

small {
    align-self: flex-end
}

.greeting-box {
    min-height: 30px;
    width: 500px;
    border: 1px red solid;
    margin: 10px auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
}

input, textarea {
    width: 200px;
    margin: 5px;
    border-color: red;
    border-radius: 5px;
}

.juleklokker {
    position: absolute;
    top: 60px;
    width: 150px;
    animation: roter 1.5s infinite linear;
}

@keyframes roter {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.juleklokker1 {
    left: 80px;
  }

  .juleklokker2 {
    right: 80px;
  }

.juleklokker {
    position: absolute;
    animation: example 5s linear 2s infinite alternate;
}

  .red--text {
    color: red;
  }